:root{
    --mainColour: rgb(153, 103, 157);
    --mainColourDark: rgb(118, 74, 122);
    --textColour: rgb(255, 255, 255);
    --secondaryColour: rgb(0, 150, 150);
    --secondaryColourDark: rgb(0, 100, 100);
}

body{
    font-family: "Rubik";
    background-color: var(--mainColour);
    color: var(--textColour);
}

h1{
    background-color: var(--mainColourDark);
    width: fit-content;
    padding: 10px;
    border: solid;
    border-radius: 10px;
    border-color: var(--mainColour);
    border-width: 2px;
    box-shadow: 0px 0px 10px 2px var(--mainColourDark);
}

p{
    background-color: var(--mainColourDark);
    padding: 10px;
    width: fit-content;
    border-radius: 10px;
    border: solid;
    border-color: var(--mainColour);
    border-width: 2px;
    box-shadow: 0px 0px 10px 2px var(--mainColourDark);
}

ul{
    background-color: var(--mainColourDark);
    width: fit-content;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px var(--mainColourDark);
    list-style: square;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid;
    border-width: 2px;
    border-color: var(--mainColour);
}

li{
    margin-top: 20px;
    margin-bottom: 20px;
}

button{
    font-family: "Rubik";
    background-color: var(--secondaryColour);
    border: solid;
    border-color: var(--secondaryColourDark);
    box-shadow: 0px 0px 10px 1px var(--secondaryColourDark);
    width: 100px;
    height: 30px;
    color: var(--textColour);
    font-size: 15px;
    transition: 0.1s;
    border-radius: 10px;
}

a{
    background-color: var(--secondaryColour);
    border: solid;
    border-color: var(--secondaryColourDark);
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0px 0px 10px 2px var(--secondaryColourDark);
}

button:hover{
    background-color: var(--secondaryColourDark);
    border-color: var(--secondaryColour);
}

button:active{
    background-color: var(--secondaryColour);
    border-color: var(--secondaryColourDark);
    box-shadow: 0px 0px 15px 3px var(--secondaryColourDark);
}

.navigation{
    display:flex;
    align-items: center;
    padding: 10px;
    background-color: var(--mainColourDark);
    border: solid;
    border-color: var(--mainColour);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px var(--mainColourDark);
    width: fit-content;
}

.navigation-link{
    margin-right: 10px;
}